<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MailUserName" value="ramazan.erken0421@gop.edu.tr" />
    <add key="MailSifre" value="1121122rR*" />
    <add key="DogrulamaUrl" value="https://localhost:44315/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <connectionStrings>
    <!--<add name="dbPdrMerEntities" connectionString="metadata=res://*/RandevuDataModel.csdl|res://*/RandevuDataModel.ssdl|res://*/RandevuDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.42;initial catalog=dbPdrMer;user id=pdrmer;password=Z37fJjhbukK**;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Con_Web" connectionString="Data Source=192.168.10.42;Initial Catalog=dbPdrMer;Persist Security Info=True;User ID=pdrmer;Password=Z37fJjhbukK**" providerName="System.Data.SqlClient" />
    <!--<add name="dbPdrMerEntities" connectionString="metadata=res://*/PdrMerDataModel.csdl|res://*/PdrMerDataModel.ssdl|res://*/PdrMerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.42;initial catalog=dbPdrMer;user id=pdrmer;password=Z37fJjhbukK**;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="dbPdrMerEntities" connectionString="metadata=res://*/PdrMerDataModel.csdl|res://*/PdrMerDataModel.ssdl|res://*/PdrMerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.42;initial catalog=dbPdrMer;user id=pdrmer;password=Z37fJjhbukK**;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>